body {
	height: 100%;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.logstyle {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: right;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #f5f5f5;
}

.gradbg{
	height: 100%;
	background-color: blue; /* For browsers that do not support gradients */
	background-image: linear-gradient(90deg, blue, white); /* Standard syntax*/
}
.border1{
	background-color: white;
	border: 7px inset blue;
	padding: 10px;
	box-shadow: 10px 10px 20px #07094F;
	border-radius: 10%;
}
.border2{
	background-color: white;
	border: 3px inset cyan;
	padding: 10px;
	box-shadow: 10px 10px 10px cyan;
	border-radius: 3%;
}
.boximg{
	border: 2px solid blue;
	border-radius: 15%;
	margin-top: 25px;
	padding: 15px;
	box-shadow: 3px 3px 10px blue;
}
.text-center {
	text-align: center !important;
}

.form-signin {
	width: 100%;
	max-width: 400px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .checkbox {
	font-weight: 400;
}
.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.form-control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #0e1990;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Fuentes letras*/
.font-weight-light {
	font-weight: 300 !important;
}
.font-weight-normal {
	font-weight: 400 !important;
}
.font-weight-bold {
	font-weight: 700 !important;
}

.font-italic {
	font-style: italic !important;
}

/* CALENDARIO*/
.btn-rounded-dark{
  position: relative;
  transition: all .5s;
}
.btn-rounded-dark:after{
  content: '';
  position: absolute;
  width: 0;
  top: 50%;
  height: 0;
  border-radius: 50%;
  transition: all .5s;
  opacity: 0;
  background: #343a40;
  border: 1px solid transparent;
}
.btn-rounded-dark:hover:after{
  content: '';/*attr(data-date);*/
  position: absolute;
  width: 40px;
  height: 40px;
  top: 15%;
  opacity: 1;
  background: transparent;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #343a40;
}
.btn-rounded-success{
  position: relative;
  transition: all .5s;
}
.btn-rounded-success:after{
  content: '';
  position: absolute;
  width: 0;
  top: 50%;
  height: 0;
  border-radius: 50%;
  transition: all .5s;
  opacity: 0;
  background: #28a745;
  border: 1px solid transparent;
}
.btn-rounded-success:hover:after{
  content: '';/*attr(data-date);*/
  position: absolute;
  width: 40px;
  height: 40px;
  top: 15%;
  opacity: 1;
  background: transparent;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #28a745;
}
.current-date-selected{
  color: #dc3545;
  font-weight: bold;
}
.current-date-selected:after{
  content: '';/*attr(data-date);*/
  position: absolute;
  width: 40px;
  height: 40px;
  top: 15%;
  opacity: 1;
  background: transparent;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #dc3545;
}
.current-date-selected:hover:after{
  content: '';/*attr(data-date);*/
  position: absolute;
  width: 40px;
  height: 40px;
  top: 15%;
  opacity: 1;
  background: #dc354533;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #dc3545;
}

/*MODAL*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  margin-top: 20px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* FICHAJE */
.fichaje{
  padding: 30px; border: 5px inset black;
  font-size: 25px;
}

/*CRONOMETRO*/
.countdown{
    height: 100px;
    width: 310px;
}
 
.number{
    background: blue; 
    border-radius: 15px;
    -moz-border-radius: 15px;
    line-height: 80px;
    color:white;
    position: relative;
    font-size: 50px;
    font-weight:bold;
    height:90px;
    width:90px;
    margin: 5px;
    border:solid 5px #000;
    float:left;
    text-align:center;
    -moz-box-shadow: 0px 10px 15px blue;
    box-shadow: 0px 10px 15px blue;
}