{{>nav}}
<div class="container border2">
	<div class="row">
		<div class="container">
			<div class="card-header bg-info font-weight-bold">Listado de Tareas</div>
			<input class="form-control" id="myInput" type="text" placeholder="Buscar...">
			<br>
			<table class="table table-bordered table-striped table-responsive">
				<thead>
					<tr>
						<th>Nombre Tarea</th>
						<th>Descripción</th>
						<th>Fecha Inicio</th>
						<th>Fecha Fin</th>
						<th>Fecha Fecha Relativa</th>
						<th>Jefe de Proyecto</th>
						<th>Programador Senior</th>
						<th>Programador Junior</th>
						<th>Selección</th>
					</tr>
				</thead>
				<tbody id="myTable">
					<tr>
						<td>Programar pagina</td>
						<td>Hacer una página bonita</td>
						<td>12/11/1998</td>
						<td>19/01/2020</td>
						<td>20/01/2000</td>
						<td>Pablo</td>
						<td>Joel</td>
						<td>Mario</td>
						<td class="text-center">
							<input type="checkbox">
						</td>
					</tr>
					<tr>
						<td>Comprar comida</td>
						<td>Hacer una página bonita</td>
						<td>12/11/1998</td>
						<td>19/01/2020</td>
						<td>20/01/2000</td>
						<td>Pablo</td>
						<td>Joel</td>
						<td>Mario</td>
						<td class="text-center">
							<input type="checkbox">
						</td>
					</tr>
					<tr>
						<td>Hacer la cena</td>
						<td>Hacer una página bonita</td>
						<td>12/11/1998</td>
						<td>19/01/2020</td>
						<td>20/01/2000</td>
						<td>Pepe</td>
						<td>Antonio</td>
						<td>Maria</td>
						<td class="text-center">
							<input type="checkbox">
						</td>
					</tr>
					<tr>
						<td>Actualizar Servidores</td>
						<td>Instalar nueva version</td>
						<td>12/11/1988</td>
						<td>19/01/2020</td>
						<td>20/01/2050</td>
						<td>Pablo</td>
						<td>Mariano</td>
						<td>Carlos</td>
						<td class="text-center">
							<input type="checkbox">
						</td>
					</tr>
					<tr>
						<td>Instalar controladores de dominio</td>
						<td>kljañfdklsjlkdjñlkfsjdalñjfñklasdjfñlksdaj</td>
						<td>12/11/1998</td>
						<td>19/01/2020</td>
						<td>20/01/2000</td>
						<td>Pablo</td>
						<td>Joel</td>
						<td>Mario</td>
						<td class="text-center">
							<input type="checkbox">
						</td>
					</tr>
					<tr>
						<td>Programar pagina</td>
						<td>Hacer una página bonita</td>
						<td>12/11/1998</td>
						<td>19/01/2020</td>
						<td>20/01/2000</td>
						<td>Pablo</td>
						<td>Joel</td>
						<td>Mario</td>
					</tr>
					<tr>
						<td>Programar pagina</td>
						<td>Hacer una página bonita</td>
						<td>12/11/1998</td>
						<td>19/01/2020</td>
						<td>20/01/2000</td>
						<td>Pablo</td>
						<td>Joel</td>
						<td>Mario</td>
					</tr>
					<tr>
						<td>Programar pagina</td>
						<td>Hacer una página bonita</td>
						<td>12/11/1998</td>
						<td>19/01/2020</td>
						<td>20/01/2000</td>
						<td>Pablo</td>
						<td>Joel</td>
						<td>Mario</td>
					</tr>

				</tbody>
			</table>

		</div>

		<!--  Botones Aceptar -->
		<div class="col-6">
</div>

		<div class="card-body">
			<div>
				<a href="/tareas" class="btn btn-primary" style="float: right; margin-left: 17px">Modificar</a>
			</div>
			<div>
				<a href="#" class="btn btn-primary" style="float: right;">Aceptar</a>
			</div>
		</div>

</div>
{{>footer}}
{{>chat}}