<form class="form-signin border1" action='/login' method="POST">
	<img class=" mb-4 boximg" src="https://www.jpm-group.com/media/cache/monteur/FRANCE/JPM/l/o/logo_jpm_270x270.jpg"
		alt="" width="120" height="120">
	<h1 class="h3 mb-4 font-weight-normal">Iniciar sesión</h1>
	<label for="inputEmail" class="sr-only">Correo Electrónico</label>
	<input type="email" id="inputEmail" class="form-control" placeholder="Correo Electrónico *" required autofocus>
	<div class="checkbox mb-4">
	</div>
	<button type="submit" class="btn btn-primary" style="width: 50%;">Continuar</button>
	<p class="mt-5 mb-3 text-muted">&copy; JPM S.L.</p>
</form>