{{>nav}}
	<div class="container border2">
		<div class="card-header bg-info font-weight-bold">Ficha de Usuario</div>
		<div class="row" style="padding-top: 10px">
			<div class="col-6">
				<form>
					<div class="form-group">
						<label for="exampleFormControlInput1">Nombre</label>
						<input type="textarea" class="form-control" id="exampleFormControlInput1">
					</div>
					<div class="form-group">
						<label for="exampleFormControlInput1">Apellidos</label>
						<input type="textarea" class="form-control" id="exampleFormControlInput1">
					</div>
					<div class="form-group">
						<label for="exampleFormControlInput1">Dirección</label>
						<input type="textarea" class="form-control" id="exampleFormControlInput1">
					</div>
					<div class="form-group">
						<label for="exampleFormControlInput1">Ciudad</label>
						<input type="textarea" class="form-control" id="exampleFormControlInput1">
					</div>
					<div class="form-group">
						<label for="exampleFormControlInput1">Correo Electrónico</label>
						<input type="textarea" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
					</div>
					<div class="form-group">
						<label for="exampleFormControlInput1">Código Postal</label>
						<input type="textarea" class="form-control" id="exampleFormControlInput1">
					</div>
					<div class="form-group">
						<label for="exampleFormControlSelect1">Tareas</label>
						<select class="form-control" id="exampleFormControlSelect1">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
				</form>
			</div>

			{{!-- Calendario --}}
			<div class="col-6">
				<div class="card-body">
					<div class="col-6">
						<h2 class="mb-4" style="text-align: center;">Calendario</h2>
					<div class="card">
					<div class="card-body p-0">
					<div id="calendar"></div>
					</div>
				</div>
			</div>
		</div>
			</div> {{!-- Fin Calendario --}}
		</div>
		
		{{!-- Inicio Botones --}}
		<div class="row">
			<div class="col" style="text-align: right;">
				<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
					Aceptar
				</button>
				<a href="/modificar-usuario" class="btn btn-danger">Modificar</a>
			</div>
		</div>	{{!-- Fin Botones --}}
	</div>

{{>footer}}
{{>chat}}

<script>
	$(document).ready(function(e){
		calendar = new CalendarYvv("#calendar", moment().format("Y-M-D"), "Monday");
		calendar.funcPer = function(ev){
			console.log(ev)
		};
		
		calendar.diasResal = []

		calendar.createCalendar();

	});
</script>
<script src="INTERFAZ-1/js/vendor/calendar.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>