<div class="bg-info">
    {{!--Imagenes con explicacion en un carrousel--}}
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        {{!--Primera imagen del carrousel--}}
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="jumbotron bg-info text-light">
                        <h1 class="display-4" style="text-align: center; ">¡Gestor de Proyectos!</h1>
                        <p class="lead" style="text-align: center; ">Gestiona tus proyectos de una manera eficiente y
                            sencilla.</p>
                        <p style="text-align: center; ">Su interfaz hará que tus proyectos se organizen
                            satisfactoriamente</p>
                    </div>
                </div>
            </div>
            {{!--Segunda imagen del carrousel--}}
            <div class="carousel-item">
                <div class="container">
                    <div class="jumbotron bg-info text-light">
                        <h1 class="display-4" style="text-align: center; ">Segundo, world!</h1>
                        <p class="lead" style="text-align: center; ">This is a simple hero unit, a simple
                            jumbotron-style component for calling extra attention to featured content or
                            information.</p>
                        <p style="text-align: center; ">It uses utility classes for typography and spacing to space
                            content out within the larger container.
                        </p>
                    </div>
                </div>
            </div>
            {{!--Tercera imagen del carrousel--}}
            <div class="carousel-item">
                <div class="container">
                    <div class="jumbotron bg-info text-light">
                        <h1 class="display-4" style="text-align: center; ">Tercero, world!</h1>
                        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling
                            extra attention to featured content or information.</p>
                        <p style="text-align: center; ">It uses utility classes for typography and spacing to space
                            content out within the larger container.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {{!--Siguiente carrousel --}}
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previo</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
</div>


{{!--Imagenes con explicacion en un carrousel--}}
<div class="container py-5 bg-light">
    <div class="row">
        <div class="col mb-4">
            <div class="border-0" style="width: 18rem;">
                <img src="/static/img/proyecto.png" class="card-img-top" alt="..."
                    style="width: 150px; height: 150px; margin-left: 70px">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">Proyectos organizados</h5>
                    <p class="card-text" style="text-align: center;">Explicacion</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="boder-0" style="width: 18rem;">
                <img src="/static/img/tareas.jpg" class="card-img-top" alt="..."
                    style="width: 150px; height: 150px; margin-left: 70px">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">Tareas </h5>
                    <p class="card-text" style="text-align: center;">Explicacion</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="border-0" style="width: 18rem;">
                <img src="/static/img/fichado.png" class="card-img-top" alt="..."
                    style="width: 150px; height: 150px; margin-left: 70px">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">Control de horarios</h5>
                    <p class="card-text" style="text-align: center;">Explicacion</p>
                </div>
            </div>
        </div>
    </div>
</div>