<form class="form-signin border1" action="/login2" method="post">
  <img class=" mb-4 boximg" src="https://www.jpm-group.com/media/cache/monteur/FRANCE/JPM/l/o/logo_jpm_270x270.jpg" alt="" width="120" height="120">
  <h1 class="h3 mb-2 font-weight-normal">Iniciar sesión</h1>
  <div class="mb-3">
    <span style="font-size: 15px">Correo electrónico introducido</span>
    <a href="" style="font-size: 15px">
      Cambiar
    </a>
  </div>
  <label for="inputPassword" class="sr-only">Contraseña</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Recuérdame
    </label>
  </div>
  <button type="submit" class="btn btn-primary" onclick="window.location.href = 'pagina_de_inicio.html'" style="width: 50%; margin-bottom: 25px;">Iniciar sesión</button>
  <p><a href="login_ayuda_de_contraseña.html" style="font-size: 15px">¿Has olvidado la contraseña?</a></p>
  <p><a href="login_cambio_de_contraseña.html" style="font-size: 15px">Cambiar contraseña</a></p>
  <p class="mt-2 mb-3 text-muted">&copy; JPM S.L.</p>
</form>