<div class="container p-4 text-center">
  <div class="row">
    <div class="form-signin  borderlogin">
      <img src="/static//img/login.jpg" alt="Logo" class="mx-auto m-4 w-25 boximg">
      <div class="card-header">
        <h5>Recuperación de contraseña</h5>
      </div>
      <div class="card-body mx-auto">
        <form action="/login" method="POST">
          <div class="form-group">
            <input type="email" name="username" placeholder="Correo electrónico" class="form-control" autofocus>
          </div>
        </form>
        <p class="mt-5 mb-3 text-muted">&copy; JPM S.L.</p>
      </div>
    </div>
  </div>
</div>